<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354215774675-51pvqst83cmo184jkrdkn8mffk99cf4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354215774675-51pvqst83cmo184jkrdkn8mffk99cf4r</string>
	<key>API_KEY</key>
	<string>AIzaSyDXq56J1Z8r_ilir2slP2umt1iF2QJluqk</string>
	<key>GCM_SENDER_ID</key>
	<string>354215774675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>foxwavez.identifier.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-37438</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-37438.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354215774675:ios:1c2aa718bd5a0fb3124726</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practice-37438.firebaseio.com</string>
</dict>
</plist>